body{
    background-color:  #93C8EC;
}

h1{
    color: #320057;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
}

p{
    color: black;
    text-align: left;
    font-family:Verdana, Geneva, Tahoma, sans-serif
    font-size: 20px;
}